<div class="mb-3">
    <label for="correo_electronico" class="form-label">Correo Electronico</label>
    <input type="text"
        class="form-control"
        id="correo_electronico"
        maxlength = "150"
        pattern = "^[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$"
        required
        placeholder="Example input placeholder"
    >
</div>
<div class="mb-3">
    <label for="contrasenia" class="form-label">Contraseña</label>
    <input type="password" 
        class="form-control" 
        id="contrasenia" 
        minlength = "8"
		maxlength = "30"
		pattern="[0-9|a-z|A-Z|_]+"
		required="true"
        placeholder="Another input placeholder">
</div>

 